
<%= flash[:username] %>
<%= flash[:success] %>
<div id="app">
    <div id="wrapper">
        <h1> Welcome to The Local Haunt!</h1>
        <span class="sub">Enter if you Dare</span><br>
        <%= link_to "Log In with Google", '/auth/google_oauth2' %> or <%= link_to "Sign Up Here", signup_path %>
        <br><br><br><br><br><br>
    </div>
</div>





