<h1> Welcome <%= @visitor.username %> </h1>

<%= render partial: "layouts/errors", locals: {object: @visitor} %>

<%= link_to "Add a Spooky Location", new_property_path %>
<%= link_to "All Spooky Locations", properties_path %>



