<h1> Welcome <%= @visitor.username %> </h1>


<%= link_to "Add a Spooky Location", new_property_path %>
<%= link_to "All Spooky Locations", properties_path %>
<%= link_to "Add a Haunting Review", new_review_path %>gi


