<%= render partial: "layouts/errors", locals: {object: @property} %>

<div id="app">

    <%= flash[:message] %>

        <div id="wrapper">
            <div class="container">
                <fieldset>
                    <legend>Edit <%= @property.name %></legend>
                        <%= render 'properties' %>
                </fieldset>
            </div>
        </div>
</div>