<h1> ALL PROPERTIES </h1>

<% @properties.each do |property| %>
    <div>
        <a href="/properties/<%= property.id %>"><%= property.name %></a>
        <%= property.location %>
        <%= property.description %>
        <br><br><br>
    </div>
<% end %>


