<h1> ALL PROPERTIES </h1>

<%= render partial: "layouts/errors", locals: {object: @property} %>

<% @properties.each do |property| %>
    <div>
        <%= link_to property.name, property_path(property) %>
        <%= property.location %>
        <%= property.description %>
        <br><br><br>
    </div>
<% end %>
