<h1> ALL PROPERTIES </h1>

<% @properties.each do |property| %>
    <div>
        <%= link_to property.name, property_path(property) %>
        <%= property.location %>
        <%= property.description %>
        <br><br><br>
    </div>
<% end %>
