<%= render partial: "layouts/errors", locals: {object: @property} %>

<div id="app">
    <div id="wrapper">
        <div class="container">
            <fieldset>
                <legend>New Haunted Location</legend>
                    <%= render 'properties' %>
            </fieldset>
        </div>
    </div>
</div>