<div id="app">
    <div id="wrapper">
        <div class="container">
            <fieldset>
                <legend>Edit Your Review</legend>
                    <%= render 'review' %>
            </fieldset>
        </div>
    </div>
</div>


