<h1> Index Page For Spooky Reviews! </h1>

<% @property.reviews.each do |rev| %>
    <%= rev.title %> <%= link_to rev.property.title, property_path(rev.property_id) %>
<% end %>

#go back to all properties button?