<%= render partial: "layouts/errors", locals: {object: @review} %>

<div id="app">
    <div id="wrapper">
        <div class="container">
            <fieldset>
                <legend>New Scary Review</legend>
                    <%= render 'review' %>
            </fieldset>
        </div>
    </div>
</div>
